


<app-navbar></app-navbar> 
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-6">

        <div class="container mt-5">
            <div class="trip-card" >
                <div class="date-header">{{trip.date | date : "fullDate"}}</div>
                <div class="timeline" class="price">
                    <span class="icon">🕒 Nisja ne </span><span class="time">{{trip.time}}</span>
                    <span class="location"> prej {{trip.startCity}}</span>
                </div>
                <div class="timeline" class="price">
                    <span class="icon">🕒 Kohezgjatja mesatare per ne {{trip.endCity}}</span><span class="time">{{trip.duration | duration}}</span>
                   
                </div>
                <div class="features">
                    <div>Cmimi per nje pasagjer: </div>
                    <div class="price">ALL {{ trip.pricePerSeat }}</div>
                    <div>Ulese te disponueshme: </div>
                    <div class="price">{{trip.availableSeats}}/{{trip.totalSeats}}</div>
                </div>
          
            
                <div class="features">
                  <div class="price"> Preferencat e udhetimit: </div>
                  @for (preference of preferences; track preference.title) {
                    <div><i class="fa fa-asterisk"></i> {{preference.title}}</div>
                  }
                </div>
                @if (car) {
                <div class="features">
                    <div class="price" >Automjeti: </div>
                    <div>{{car.make}} {{car.model}}</div>
                    <div>{{car.licencePlateNumber}}</div>
                </div>
              }
                <div class="profile">
                    <img [src]="'http://localhost:8080/images/users/'+trip.driverProfilePictureURL">
                    <span class="name">{{trip.driverFirstname}} {{trip.driverLastname}}</span>
                </div>
                <div class="button-container">
                    <button class="btn" (click)="toggle()">Ikim se bashku?</button>
                </div>
            </div>
        </div>


      </div>
      <div class="col-md-6">
        @if (isApplying()) {
          <app-rezervoform></app-rezervoform>
        } @else{
        <div style="height: 100%; width: 100%; margin-top: 8%;" leaflet 
        [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
        }
      </div>
    </div>
  </div>
  <div class="container mb-5 mt-5 pt-5">
      <div class="row mt-5 pt-3">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center text-white"><h2>What our users say</h2></div>
        <div class="col-md-4"></div>
      </div>
      <app-cards></app-cards>
    </div>

  <app-footer/>  