<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 mb-3 mb-md-0">
                <h4 class="text-white">Share & Go</h4>
                <p>All rights are reserved.<br>Copyrights 2024.</p>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <h5>Contact</h5>
                <p>share&go&#64;gmail.com<br>+355 676 653 349</p>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <h5>Social Media</h5>
                <p>
                    Facebook: <a href="https://www.facebook.com/merrudhe">share&go</a><br>
                    Instagram: <a href="https://www.instagram.com/merr_udhe">share&go</a>
                </p>
            </div>
            <div class="col-md-3">
                <a href="https://www.apple.com/app-store/"><img src="../../assets/images/appstorebadge.png" alt="Download on the App Store" class="img-fluid"></a>
                <a href="https://play.google.com/store"><img src="../../assets/images/googleplaybadge.png" alt="Get it on Google Play" class="img-fluid"></a>
            </div>
        </div>
    </div>