<app-navbar></app-navbar>

<div class="container">
    <div class="row m-0">
        <div class="col-md-7 col-12">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="row box-right">
                        <div class="col-md-8 ps-0 ">
                            <p class="ps-3 textmuted fw-bold h6 mb-0">Balanca</p>
                            <p class="h1 fw-bold d-flex">
                                 {{accountBalance | currency:'ALL '}}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p class="p-blue">
                                Ne pritje
                            </p>
                            <p class="fw-bold mb-3">
                                ALL 000
                                <span class="textmuted">.00</span>
                            </p>
                            <p class="p-org">
                                Fonde te bllokuara
                            </p>
                            <p class="fw-bold">
                                {{onWaitingTotal() | currency:'ALL '}}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 px-0">
                    <div class="box-right">
                        <app-withdraw-method></app-withdraw-method>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-12 ps-md-5 p-0 ">
            <div class="box-right">
                <app-paymentmethod></app-paymentmethod>
            </div>
        </div>

        <div class="col-md-12 col-12 ps-md-5 p-0 " style="margin-top: 5%;">
            <div class="box-right"  style=" margin-right: 6%;">
                <app-withdrequest/>
            </div>
        </div>
    </div>
</div>