<div class="form-container" id="searchForm">
    <div class="mb-3 text-center text-white">
        <h1 >Go anywhere with <br> Share & Go</h1>
    </div>
    <div class = "mb-3 text-center text-white">
        <h3>Find a ride, hop in, and go.</h3>
    </div>
    <div class="button-container mt-5">
    
        <a routerLink="driver/offer-ride">
            <button type="button" class="btn btn-success me-2">Posto udhetim</button>
        </a>
        <a>   
            <button type="button" class="btn btn-light">Gjej udhetim</button>
        </a> 
    </div>
</div>
  
