<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Udhetimet si shofer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap" style="overflow: hidden;border-radius: 10px;">
                    <table class="table table-striped table-dark table-hover" style="border-radius: 10px;">
                      <thead>
                        <tr>
                          <th>From</th>
                          <th>Destination</th>
                          <th>Date</th>
                          <th>Passengers</th>
                          <th>Trip details</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (trip of trips; track trip) {
                        <tr>
                          <th>{{trip.fromCity}}</th>
                          <td>{{trip.toCity}}</td>
                          <td>{{trip.dateOfTrip}}</td>
                          <td>{{trip.passengerCount}}</td>
                          <td><button (click)="getTripDetails(trip.id!)" class="btn btn-success">Show</button></td>
                          <td><a href="#" class="btn btn-success">Active</a></td>
                        </tr>
                    }
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
