<div class="row g-3">

  
    <span>Transaksionet</span>
    <div class="card">

      <div class="accordion" id="accordionExample">
        

          <div class="card">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body payment-card-body">
                <div class="row">  
                    <div class="col-3">        
                      <span class="font-weight-normal card-text">Kryer drejt: </span>
                      <div class="input">
                        <i class="fa fa-user"></i>
                        <input disabled type="text"  class="form-control" value="Redjon Belishta" placeholder="AL47 2121 1009 0000 0002 3569 8741">
                      </div>   
                    </div> 
                        <div class="col-3">
                          <span class="font-weight-normal card-text">Vlera ALL: </span>
                          <div class="input">
                              <i class="fa fa-cash-register"></i>
                            <input disabled type="text" value="800" class="form-control" placeholder="000">
                          </div> 
                        </div>
                        <div class="col-3">
                            <span class="font-weight-normal card-text">Tipi: </span>
                            <div class="input">
                              <input disabled type="text" value="Dalje nga llogaria" class="form-control" placeholder="000">
                            </div> 
                      </div>    
                      <div class="col-3">
                        <span class="font-weight-normal card-text">Data: </span>
                        <div class="input">
                          <input disabled type="text" value="09-12-2024" class="form-control" placeholder="000">
                        </div> 
                  </div>      
      
           
          </div>
            <div class="row">  
              <div class="col-3">        
                <span class="font-weight-normal card-text">Kryer nga: </span>
                <div class="input">
                  <i class="fa fa-user"></i>
                  <input disabled type="text"  class="form-control" value="Ergys Xhaollari" placeholder="AL47 2121 1009 0000 0002 3569 8741">
                </div>   
              </div> 
                  <div class="col-3">
                    <span class="font-weight-normal card-text">Vlera ALL: </span>
                    <div class="input">
                        <i class="fa fa-cash-register"></i>
                      <input disabled type="text" value="600" class="form-control" placeholder="000">
                    </div> 
                  </div>
                  <div class="col-3">
                      <span class="font-weight-normal card-text">Tipi: </span>
                      <div class="input">
                        <input disabled type="text" value="Hyrje ne llogari" class="form-control" placeholder="000">
                      </div> 
                </div>    
                
                <div class="col-3">
                    <span class="font-weight-normal card-text">Data: </span>
                    <div class="input">
                      <input disabled type="text" value="09-12-2024" class="form-control" placeholder="000">
                    </div> 
              </div> 

                
        
              <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span>
             
            </div>
          </div>
        
        </div>
           </div>

        
      
    </div>


    


