body {
    background-color: #f5eee7;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.form-header {
    margin-bottom: 20px;
    text-align: center;
}
.form-header h2 {
    margin: 0;
}
.form-group .input-group-text {
    background: none;
    border: none;
    padding-left: 0;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select {
    border: 2px solid #eee;
    border-radius: 6px;
    height: 50px;
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus,
.form-group select:focus {
    border-color: #039be5;
    box-shadow: none;
}
.form-group .form-text {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
}
.btn-custom {
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 8px;
    height: 50px;
}

.btn-custom:hover {
    background-color: #0e0e0e;
    color: #fff;
    border-radius: 8px;
    height: 55px;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  
  dialog {
    width: 90%;
    max-width: 30rem;
    background-color: #1a1a1a;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 1rem;
    top: 5rem;
    z-index: 1000;
    position: absolute;
  }
  

  @media (min-width: 768px) {
    dialog {
      padding: 2rem;
      position: absolute;
    }
  }