<div class="backdrop" (click)="toggleEditMode()"></div>
<dialog open>
<div class="form-container">
    <div class="form-header">
        <h2>Personal Information</h2>
    </div>
    <form>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First name" name="firstName" [(ngModel)]="profileRequest.firstname">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="profileRequest.lastname" id="lastName" name="lastName" placeholder="Last name">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="../../../../../assets/images/albanian.png" alt="country-flag"> <!-- Placeholder for country flag -->
                    </span>
                </div>
                <input type="tel" class="form-control" name="tel" [(ngModel)]="profileRequest.phoneNumber" id="phoneNumber" style="margin-top: 3%;" >
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="E-mail" value="{{userprofile.email}}" disabled>
        </div>
        <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <input type="date" class="form-control" name="birthDate" [(ngModel)]="profileRequest.birthDate">
        </div>
        <div class="form-group">
            <label for="email">Old password</label>
            <input type="email" class="form-control" name="oldPassword" [(ngModel)]="profileRequest.oldPassword">
        </div>
        <div class="form-group">
            <label for="email">New Password</label>
            <input type="email" class="form-control" name="new" [(ngModel)]="profileRequest.newPassword">
        </div>
        <div class="form-group">
            <label for="email">New Password</label>
            <input type="email" class="form-control" name="pass" [(ngModel)]="profileRequest.newConfirmPassword">
        </div>
        <div class="form-group">
            <label for="email">Profile picture</label>
            <input type="file" class="form-control" name="pass" (change)="onFileSelected($event)">
        </div>
        
        <button (click)="updateProfile()" class="btn btn-custom btn-block" style="margin-top: 4%;">Save</button>
    </form>
</div>
</dialog>
