<div class="row g-3">

  
    <span>Kerkese per terheqje</span>
    <div class="card">

      <div class="accordion" id="accordionExample">

        <div class="card">
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body payment-card-body">

              <span class="font-weight-normal card-text">Account Number | IBAN</span>
              <div class="input">

                <i class="fas fa-credit-card"></i>
                <input type="text" class="form-control" placeholder="AL47 2121 1009 0000 0002 3569 8741">
                
              </div> 

              <div class="row mt-3 mb-3">

                <div class="col-md-6">

                  <span class="font-weight-normal card-text">Vendos vleren ne ALL: </span>
                  <div class="input">

                      <i class="fa fa-cash-register"></i>
                    <input type="text" class="form-control" placeholder="000">
                    
                  </div> 
              </div>  
             
                  <button class="btn btn-primary btn-block free-button" style="margin-top: 10%;padding: 0%;">Dergo nje kerkese per terheqje</button> 

                  
                </div>

              <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span>
             
            </div>
          </div>
        </div>
        
      </div>
      
    </div>


    

