
@if (hasTrips()) {
<div class="container" (scroll)="onScroll()">
  <div class="card-custom" *ngFor="let item of items">
    <div class="date-header">{{ item.date | date: 'fullDate' }}</div>
    <div class="timeline">
      <span class="time">Nisja ne : {{ item.time }}</span>
      <span class="location"> nga {{ item.startCity }}</span>
      <span class="price">{{ item.pricePerSeat | currency }}</span>
    </div>
    <div class="timeline" style="color: #6c757d;">
      <span class="location">Kohezgjatja mesatare per {{ item.endCity }}: </span>
      <span class="time">{{ item.duration | duration }}</span>
    </div>
    <div class="profile">
      <img [src]="'http://localhost:8080/images/users/default_profile_picture.jpg'" alt="Profile Image">
      <span class="name">{{ item.driverFirstname }} {{ item.driverLastname }}</span>
    </div>
    <div class="button-container">
      <button class="btn btn-success" (click)="showMore(item.id)">Show more</button>
    </div>
  </div>
  <div *ngIf="loading" class="loading">Loading...</div>
</div>
} @else {

    <div class="col-md-6">
      <img src="../assets/images/request_a_ride.jpeg" id="request_a_ride">
    </div>
  
}