<div class="container" (scroll)="onScroll()">
  <div class="card-custom" *ngFor="let item of items">
    <div class="date-header">{{ item.date | date: 'fullDate' }}</div>
    <div class="timeline">
      <span class="time">Nisja ne : {{ item.time }}</span>
      <span class="location"> nga {{ item.startCity }}</span>
      <span class="price">{{ item.pricePerSeat | currency }}</span>
    </div>
    <div class="timeline" style="color: #6c757d;">
      <span class="location">Kohezgjatja mesatare per {{ item.endCity }}: </span>
      <span class="time">{{ item.duration | duration }}</span>
    </div>
    <div class="profile">
      <img [src]="'http://localhost:8080/images/default_profile_picture.jpg'" alt="Profile Image">
      <span class="name">{{ item.driverFirstname }} {{ item.driverLastname }}</span>
    </div>
  </div>
  <div *ngIf="loading" class="loading">Loading...</div>
</div>
