@if (isLeavingReview()) {
  <app-reviewform></app-reviewform>
}

@if (
  isLeavingReport()
) {
  <app-reportform></app-reportform>
}

<div><h1>Udhetimet si pasagjer</h1></div>
@if (items.length == 0) {
<div class="alert alert-info" style="margin-top: 5%;" role="alert">
  Nuk keni asnje udhetim te kryer!
</div>
} @else {
<div class="container" (scroll)="onScroll()">
  <div class="card-custom" *ngFor="let item of items">
    <div class="date-header">{{ item.date | date: 'fullDate' }}</div>
    <div class="timeline">
      <span style="font-weight: bold;color: #2c3e50;">Nisja ne : &nbsp;</span>
      <span class="time">{{ item.time.slice(0,-3) }}</span>
      <span class="location"> nga {{ item.startCity }} !</span>
      <span class="price">{{ item.pricePerSeat | currency:'ALL '}}</span>
    </div>
    <div class="timeline" style="color: #2c3e50;">
      <span class="location">Kohezgjatja e parashikuar per {{ item.endCity }}: </span>
      <span class="time">{{ item.duration | duration }}</span>
    </div>
    @if (show == item.id) {
      <div class="timeline" style="color: #2c3e50;">
        <span class="location"> Pasagjeret:  </span>
        
      </div>
      <div class="timeline" style="color: #2c3e50;">
        <div class="location"> Preferencat </div>
      </div>
      <div style="margin-bottom: 4%;">
        @for (preference of preferences; track preference.title) {
          <div style="color:  #2c3e50;"> <b><i class="fas fa-sticky-note">   {{ preference.title }} </i></b></div> 
        }
      </div>  

    }
    <div class="button-container margin-top: 10%;">
      @if (show != item.id) {
      <button class="btn btn-success" (click)="showMore(item.id)">Shiko me shume</button>
      <button class="btn btn-success" style="margin-left: 1%;" (click)="showReviewForm(item.id,item.driverId)"> Jep pershtypje per udhetimin!</button>
      }@else {
        <button class="btn btn-success" (click)="showLess()">Shiko me pak</button>
        <button class="btn btn-success" style="margin-left: 1%;" (click)="showReportForm(item.id,item.driverId)"> Raporto nje problem!</button>
      }
    </div>
  </div>
  <div *ngIf="loading" class="loading">Loading...</div>
</div>
}
