<div class="button-container mt-5">
    <div class="form-container ml-5" id="searchForm">
        <form >
            <label for="from">Qyteti nisjes:</label>
            <div class="search-container" style="margin-bottom: 2%;">
                <input type="text" id="searchBar" name="from" placeholder="Search..." [(ngModel)]="tripDetails.startCity" (input)="onInputFromCity($event)">
                @if (filteredFromCityOptions.length > 0) {
                   <div class="scroll-container">
                     @for (city of filteredFromCityOptions; track city) {
                        <div (click)="selectFromCity(city)">{{city.name}}</div>
                     }
                    </div>
               }
            </div>
            
            <label for="to">Qyteti mberritjes:</label>
            <div class="search-container" style="margin-bottom: 2%;">
                <input type="text" id="searchBar" name="to" placeholder="Search..." [(ngModel)]="tripDetails.endCity" (input)="onInputToCity($event)">
                @if (filteredToCityOptions.length > 0) {
                    <div class="scroll-container">
                      @for (city of filteredToCityOptions; track city) {
                         <div (click)="selectToCity(city)">{{city.name}}</div>
                      }
                     </div>
                }
            </div>

            <label for="dateNisje">Data e nisjes:</label>
            <div class="search-container" style="margin-bottom: 10%;">
                <input type="date" id="dateNisje" name="dateNisje" [(ngModel)]="tripDetails.dateOfTrip">
            </div>
            
            <button (click)="submitForm()">Gjej Udhetim</button>
        </form>
    </div>
</div>