@if (mfaEnabled()) {
    
    <dialog open style="margin-top: 8%;">
        <div class="success-message-panel" *ngIf="message">
            <div class="success-icon">&#10004;</div>
            <div class="success-message">{{message}}</div>
          </div>
          <h2>Identifikimi me ane te 2 faktoreve (Two factor Authentication)</h2>
          <div class="qr-code">
            <img [src]="adminLoginResponse.secretImageUri" alt="QR Code">
          </div>
          <div class="form-group">
            <label for="validationCode">Vendos kodin 6-shifror te gjeneruar prej aplikacionit</label>
            <input
              type="text"
              id="validationCode"
              name="validationCode"
              required
              [(ngModel)]="otpCode"
            >
          </div>
          <button
            type="button"
            class="btn btn-dark"
            id="1"
            style="margin-top: 5%;"
            (click)="verifyTfa()"
            [class.button-disabled]="otpCode.length < 6"
          >Verifiko kodin</button>

</dialog>
}@else {

<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Formular Regjistrimi</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form (ngSubmit)="register()">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="email" name="email" placeholder="Email" [(ngModel)]="signUpRequest.email" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" name="password" placeholder="Password" [(ngModel)]="signUpRequest.password" required />
                    </div>
                    <div class="input_field"> <span><i class="fa fa-phone"></i></span>
                        <input type="text" name="tel" style="padding: 8px 10px 9px 35px;" placeholder="Phone number" [(ngModel)]="signUpRequest.phoneNumber" required />
                    </div>
                    <div class="row clearfix">
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="firstname" placeholder="First Name" [(ngModel)]="signUpRequest.firstname" />
                            </div>
                        </div>
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="signUpRequest.lastname" required />
                            </div>
                        </div>
                    </div>
                    <div class="input_field radio_option">
                        <input type="radio" name="gender" id="rd1" value="Male" [(ngModel)]="signUpRequest.gender">
                        <label for="rd1">Male</label>
                        <input type="radio" name="gender" id="rd2" value="Female" [(ngModel)]="signUpRequest.gender">
                        <label for="rd2">Female</label>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-calendar"></i></span>
                        <input style="padding-left: 14%;" type="date" name="birthDate" placeholder="Birthdate" [(ngModel)]="signUpRequest.birthDate" required />
                    </div>
                    <div class="input_field checkbox_option">
                        <input
                          id="cb3"
                          type="checkbox"
                          name="cb3"
                          [(ngModel)]="signUpRequest.mfaEnabled"
                        >
                        <label for="cb3">Aktivizo 2FA (Two Factors Authentication)</label>
                      </div>
                    <input class="button" type="submit" value="Register" />
                </form>
            </div>
        </div>
    </div>
</div>


}