.card {
    background-color: black;
    color: white;
}
.card .card-body {
    color: white;
}
.card .card-text {
    color: white;
}

.edit-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}