<div class="row g-3">

  
    <span>Kerkesat per terheqje</span>
    <div class="card">

      <div class="accordion" id="accordionExample">
        @for (withd of withdrawalresponse; track withd.id) {

          <div class="card">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body payment-card-body">
            <div class="row">  
              <div class="col-6">        
                <span class="font-weight-normal card-text">Account Number | IBAN</span>
                <div class="input">
                  <i class="fas fa-credit-card"></i>
                  <input disabled type="text"  class="form-control" value="{{withd.accountNumber}}" placeholder="AL47 2121 1009 0000 0002 3569 8741">
                </div>   
              </div> 
                  <div class="col-3">
                    <span class="font-weight-normal card-text">Vlera ALL: </span>
                    <div class="input">
                        <i class="fa fa-cash-register"></i>
                      <input disabled type="text" value="{{withd.amount}}" class="form-control" placeholder="000">
                    </div> 
                  </div>
                  <div class="col-3">
                      <span class="font-weight-normal card-text">Statusi: </span>
                      <div class="input">
                        <input disabled type="text" value="{{withd.withdrawalStatus}}" class="form-control" placeholder="000">
                      </div> 
                </div>      
        
              <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span>
             
            </div>
          </div>
        
        </div>
           </div>

        }
      
    </div>


    

