<div class="form-container" id="searchForm">
    <form (ngSubmit)="submitForm()">
        <label for="from">Qyteti nisjes:</label>
        <div class="search-container">
            <input type="text" id="searchBar" name="from" placeholder="Search..." [(ngModel)]="tripDetails.startCity" (input)="onInputFromCity($event)">
            @if(filteredFromCityOptions.length > 0) {
            
                <div class="scroll-container">
                    @for (city of filteredFromCityOptions; track city.name) {
                        <div (click)="selectFromCity(city)">{{city.name}}</div>
                    }
                </div>
            }
        </div>
        
        <label for="to">Qyteti mberritjes:</label>
        <div class="search-container">
            <input type="text" id="searchBar" name="to" placeholder="Search..." [(ngModel)]="tripDetails.endCity" (input)="onInputToCity($event)">
           @if(filteredToCityOptions.length > 0) {
            
                <div class="scroll-container">
                    @for (city of filteredToCityOptions; track city.name) {
                        <div (click)="selectToCity(city)">{{city.name}}</div>
                    }
                </div>
            }
           
        </div>

        <label for="dateNisje">Data e nisjes:</label>
        <div class="input-container">
            <input type="date" id="dateNisje" name="dateNisje" [(ngModel)]="tripDetails.dateOfTrip">
        </div>

        <label for="selectedTime">Ora e nisjes:</label>
        <div class="input-container">
            <input type="time" id="time" name="time" [(ngModel)]="tripDetails.timeOfTrip">
        </div>

        <label for="passengers">Pasagjeret:</label>
        <div class="input-container">
            <input type="number" id="passengers" name="passengers" min="1" [(ngModel)]="tripDetails.passengerCount">
        </div>

        <label for="cmimi">Cmimi ne ALL:</label>
        <div class="input-container">
            <input type="number" id="cmimi" name="cmimi" min="1" [(ngModel)]="tripDetails.pricePerSeat">
        </div>
        
        <button type="submit">Post a ride</button>
    </form>
</div>
