@if (isOpen()) {
    <app-jointriprequests></app-jointriprequests>
  }
  
  <div><h1>Udhetimet ne vijim ...</h1></div>
  <div class="container" (scroll)="onScroll()">
    @if (trips.length == 0) {
      <div class="alert alert-info" style="margin-top: 5%;" role="alert">
        Nuk keni asnje udhetim ne vijim!
      </div>
    }@else {
    <div class="card-custom" *ngFor="let item of trips">
      <div class="date-header">{{ item.date | date: 'fullDate' }}</div>
      <div class="timeline">
        <span class="time">Nisja ne : {{ item.time }}</span>
        <span class="location"> nga {{ item.startCity }}</span>
        <span class="price">{{ item.pricePerSeat | currency:'ALL'}}</span>
      </div>
      <div class="timeline" style="color: #6c757d;">
        <span class="location">Kohezgjatja e parashikuar per {{ item.endCity }}: </span>
        <span class="time">{{ item.duration | duration }}</span>
      </div>
      @if (show == item.id) {
        <div class="timeline" style="color: #6c757d;">
          <span class="location"> Pasagjeret:  </span>
          
        </div>
        <div class="timeline" style="color: #6c757d;">
          <div class="location"> Preferencat: </div>
        </div>
        <div style="margin-bottom: 4%;">
          @if (preferences.length == 0) {
            <div style="color:  #6c757d;"> <b><i class="fa fa-arrow-right">  Nuk ka preferenca! </i></b></div> 
          }@else {
            @for (preference of preferences; track preference.title) {
              <div style="color:  #6c757d;"> <b><i class="fa fa-arrow-right">   {{ preference.title }} </i></b></div> 
            }
        }
        </div>  
  
      }
      <div class="button-container margin-top: 10%;">
        @if (show != item.id) {
        <button class="btn btn-success" (click)="showMore(item.id)">Show more</button>
        }@else {
          <button class="btn btn-secondary" (click)="showLess()">Show less</button>
        }
        <button class="btn btn-secondary" style="margin-left: 1%;" (click)="showApplications(item.id,item.availableSeats)"> Aplikimett </button>
      </div>
    </div>
    <div *ngIf="loading" class="loading">Loading...</div>
  }
  </div>
  